body{
    text-align: center;
    background: linear-gradient(#03f4fc 0%, #fc0303 100%);
}
h1{
    font-size: 190px;
}
a
 {
 width: 1%;
 height: 1000%;
}
#image
{
    height: 30%;
}
#image:hover
{
    cursor: pointer;
    height: 80%;
}
hr {
    height: 40px;
    width: 50%;
    background-color: black;
    color: black;
    border: black;
}
p {
 font-size: 20px;


}
#titla {
    width: 99%;
}
ul{
    color: black;
}
li{
    float: left;
    padding: 10px;
    list-style: none;
    font-family: algeria;
    color: black;
}
@media only screen and (min-width: 820px) {
    #image{
        height: 30%;
    }
    p{
        font-size: 30px;
    }
}
@media only screen and (min-width: 1000px) {
    #image{
        
        height: 70%;
    }
    
}
li{
    float: left;
    color: cornflowerblue;
    padding-top: 5px;
    padding-left: 7%;
    padding-right: 25px;
    padding-bottom: 5px;
    font-family: 'Combo', cursive;
    font-size: 20px;
    
}
ul{
    background-color: black;
    list-style: none;
    position: fixed;
    top:0px;
    margin-top: 0px;
    margin: 0px;
    right: 0px;
    width: 80%;
    cursor: pointer;
    z-index: 2;
}
